.kanban {
  display: flex;
  justify-content: center;
  padding: 30px;
  flex-wrap: wrap;
}

.kanban * {
  font-family: sans-serif;
}

.container {
  background: #5984bd;
  text-align: center;
  padding: 20px;
}
.title {
  text-align: center;
  color: white;
  background-color: #1262cc;
  width: 400px;
  padding: 10px;
  border-radius: 10px;
  margin: auto;
}
